@font-face {
  font-family: msMadi;
  src: url(../MsMadi-Regular.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../Raleway-VariableFont_wght.ttf);
}

body {
  margin: 10px;
  font-family: Raleway;
}

header {
  align-items: center;
}

form {
  color: white;
  font-weight: bolder;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 5px solid #2A6F97;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  margin: 10px;
}

input {
  box-sizing: border-box;
  border: 5px solid #2A6F97;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  margin: 10px;
}

hr {
  height: 4px;
  border: none;
  background-color: #2A6F97;
  margin-bottom: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #2A6F97;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 300px;
  font-family: Raleway;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #2A6F97;}

/* link */
a:link {
  color: #2A6F97;
}

/* mouse over link */
a:hover {
  font-weight: bold;
  text-decoration: underline;
}

a {
  color: white;
  font-weight: normal;
  text-decoration: none;
}

a:visited {
  color: #2A6F97;
  font-weight: normal;
  text-decoration: none;
}

.nav {
  padding: 10px;
}

.middle {
  grid-area: middle;
}

.header {
  grid-area: header;
}

.bottom {
  text-align: center;
}

.inline {
  display: inline-block;
  padding: 25px;
}

.collapsible {
  background-color: #444;;
  color: white;
  cursor: pointer;
  padding: 25px;
  width: 100%;
  border-radius: 300px;
  /* text-align: left; */
  outline: none;
  font-size: 18px;
  font-family: Raleway;
}

.active, .collapsible:hover {
  background-color: #fff;
  color: #2A6F97;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: #2A6F97;
  /* border-radius: 300px; */
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  /* text-align: left; */
}

a.link {
  color: white;
  font-weight: bold;
}

.dropimg {
  height: 250px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.footer {
  grid-area: footer;
}

.wrapper {
  background-color: #fff;
  color: #444;
  grid-template-areas:
   "header"
   "middle"
   "footer"
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.box, .summary {
  text-align: center;
}

.summary {
  font-size: 25px;
  color: #444;
}

.summary a {
  color: white;
}

.summary a:visited {
  color: white;
}

.header,
.footer {
  background-color: white;
  color: #2A6F97;
}

.home {
  font-family: msMadi;
  font-size: 50px;
  padding: 10px;
}
